// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.userPhoto {
  width: 200px;
  border: 1px solid grey;
  box-shadow: 10px 10px 5px #888888;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

body {
  background-image: url('/assets/background3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Changa', sans-serif;
  font-size: 18px;
}

img {
  max-width: 100%;
}

/* -------- All Photos - index.html.erb -------- */
.photoContainer img {
  max-height: 510px;

  /* @media
  // {
  //
  } */
}


/* -------- All Pages - links -------- */
a {
  color: #F05F40;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a:focus, a:hover {
  color: #f05f40;
}


/* -------- Nav Bar -------- */
.navbar-brand {
  font-size: 32px;
  font-family: 'Averia Serif Libre', cursive;
}


/* -------- pages -> home -------- */
section {
  padding: 100px;
}

.section-heading {
  color: #222222;
  margin-top: 0; }

.bg-primary {
  background-color: rgba(255,173,96,0.6) !important; }

.text-faded {
  // color: rgba(255, 255, 255, 0.7);
  color: #222222;
}


.btn-default {
  color: white;
  border-color: #F05F40;
  background-color: #F05F40;
}

.btn-default.focus, .btn-default:focus {
  color: #222222;
  border-color: #bfbfbf;
  background-color: #e6e6e6;
}

.btn-default:hover {
  color: #222222;
  border-color: #e0e0e0;
  background-color: #e6e6e6;
}

.btn-default.active, .btn-default:active,
.open > .btn-default.dropdown-toggle {
  color: #222222;
  border-color: #e0e0e0;
  background-color: #e6e6e6;
}

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover,
.open > .btn-default.dropdown-toggle.focus,
.open > .btn-default.dropdown-toggle:focus,
.open > .btn-default.dropdown-toggle:hover {
  color: #222222;
  border-color: #bfbfbf;
  background-color: #d4d4d4;
}

.btn-default.active, .btn-default:active,
.open > .btn-default.dropdown-toggle {
  background-image: none;
}

.btn-default.disabled.focus, .btn-default.disabled:focus, .btn-default.disabled:hover, .btn-default[disabled].focus, .btn-default[disabled]:focus, .btn-default[disabled]:hover,
fieldset[disabled] .btn-default.focus,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default:hover {
  border-color: white;
  background-color: white;
}

.btn-default .badge {
  color: white;
  background-color: #222222;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
}

.btn-xl {
  padding: 15px 30px;
}






////////////////////////////////////////////////////////////////////////////////
